@import "../../../sass/variables"


$toolbar-gap: 15px !default
$toolbar-button-gap: 10px !default
$toolbar-user-name-width: 180px !default
$toolbar-user-name-text-color: $black !default
$toolbar-user-name-background-color: $white !default


.toolbar
  position: absolute
  display: flex
  flex-direction: row
  justify-content: space-between
  left: $toolbar-gap
  right: $toolbar-gap
  top: $toolbar-gap
  pointer-events: none

  > div
    display: flex
    flex-direction: row

    > *
      pointer-events: auto
      margin-left: $toolbar-button-gap


.toolbar-user-name
  width: $toolbar-user-name-width
  text-overflow: ellipsis
  color: $toolbar-user-name-text-color !important
  background-color: $toolbar-user-name-background-color !important
