@import "../../../sass/variables"
@import "~bulma/sass/utilities/initial-variables"


$play-field-question-top: 70px !default
$play-field-question-font-size: 110px !default
$play-field-question-font-gap: $play-field-question-font-size * 0.15 !default
$play-field-question-operand-color: #f39847 !default
$play-field-question-operator-color: #2ba3d5 !default
$play-field-question-correct-color: #2cbf37 !default
$play-field-question-wrong-color: #d52020 !default
$play-field-question-answer-color: #ba1773 !default

$play-field-item-description-top: $play-field-question-top !default
$play-field-item-description-height: $play-field-question-font-size !default
$play-field-item-description-width: 700px

$play-field-imagery-gap: 50px !default
$play-field-imagery-top: $play-field-question-top + $play-field-question-font-size + $play-field-imagery-gap !default
$play-field-imagery-bottom: 80px !default
$play-field-imagery-border-radius: 6px !default

$play-field-imagery-mosaic-answer-font-size: 18px !default
$play-field-imagery-mosaic-answer-max-value-10-font-size: 40px !default
$play-field-imagery-mosaic-answer-max-value-20-font-size: 32px !default
$play-field-imagery-mosaic-answer-max-value-30-font-size: 28px !default
$play-field-imagery-mosaic-answer-max-value-40-font-size: 24px !default
$play-field-imagery-mosaic-answer-max-value-50-font-size: 22px !default
$play-field-imagery-mosaic-item-color: #d01a5f !default
$play-field-imagery-mosaic-item-hover-color: #f34d8c !default
$play-field-imagery-mosaic-correct-color: #a1d516 !default
$play-field-imagery-mosaic-wrong-color: #ef1818 !default

$play-field-media-screen-width: 1024px !default
$play-field-media-screen-height: 600px !default

$play-field-media-screen-min-width: 800px !default
$play-field-media-screen-min-height: 450px !default


.play-field
  font-family: $family-monospace
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: hidden


.play-field-question
  position: relative
  top: $play-field-question-top
  font-size: $play-field-question-font-size
  text-align: center

  > div
    display: inline

  div ~ div
    margin-left: $play-field-question-font-gap


.play-field-question-operand
  color: $play-field-question-operand-color


.play-field-question-operator,
.play-field-question-equal
  color: $play-field-question-operator-color


.play-field-question-answer
  white-space: pre
  color: $play-field-question-answer-color

  &.play-field-question-answer-correct
    span:nth-child(1)
      color: $play-field-question-correct-color

  &.play-field-question-answer-wrong
    span:nth-child(1)
      position: relative
      color: $play-field-question-wrong-color

      &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(to top left, transparent calc(50% - 2px), $play-field-question-correct-color, transparent calc(50% + 2px))

    span:nth-child(2)
      color: $play-field-question-correct-color


.play-field-item-description
  font-family: $family-sans-serif
  position: relative
  top: $play-field-item-description-top
  width: $play-field-item-description-width
  height: $play-field-item-description-height
  overflow: hidden
  left: 50%
  margin-left: -$play-field-item-description-width / 2
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center


.play-field-imagery
  position: absolute
  top: $play-field-imagery-top
  bottom: $play-field-imagery-bottom
  left: 0
  right: 0
  text-align: center

  @media screen and (max-width: $play-field-media-screen-min-width), screen and (max-height: $play-field-media-screen-min-height)
    display: none


.play-field-imagery-inner
  position: relative
  display: inline-block
  height: 100%

  > img
    height: 100%
    border: 1px solid $white
    border-radius: $play-field-imagery-border-radius


.play-field-imagery-mosaic
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column
  box-shadow: 1px 1px 2px $black
  border-radius: $play-field-imagery-border-radius


.play-field-imagery-mosaic-row
  display: flex
  flex-direction: row
  flex: 1

  &:first-child
    > .play-field-imagery-mosaic-item
      &:first-child
        border-top-left-radius: $play-field-imagery-border-radius

      &:last-child
        border-top-right-radius: $play-field-imagery-border-radius

  &:last-child
    > .play-field-imagery-mosaic-item
      &:first-child
        border-bottom-left-radius: $play-field-imagery-border-radius

      &:last-child
        border-bottom-right-radius: $play-field-imagery-border-radius


.play-field-imagery-mosaic-item
  display: flex
  flex-direction: column
  flex: 1
  justify-content: center
  border: 1px solid $white
  cursor: pointer
  background-color: $play-field-imagery-mosaic-item-color
  box-shadow: inset 3px 3px 6px darken($play-field-imagery-mosaic-item-color, 20%)
  overflow: hidden

  &:hover
    background-color: $play-field-imagery-mosaic-item-hover-color

  &.play-field-imagery-mosaic-item-visible
    opacity: 0

    &:hover
      opacity: 0.6

  &.play-field-imagery-mosaic-item-correct
    background-color: $play-field-imagery-mosaic-correct-color !important
    box-shadow: inset 3px 3px 6px darken($play-field-imagery-mosaic-correct-color, 20%)

    &.play-field-imagery-mosaic-item-visible
      opacity: 0.6

  &.play-field-imagery-mosaic-item-wrong
    background-color: $play-field-imagery-mosaic-wrong-color !important
    box-shadow: inset 3px 3px 6px darken($play-field-imagery-mosaic-wrong-color, 20%)


.play-field-imagery-mosaic-answer
  color: $white
  text-overflow: clip

  .play-field-imagery-mosaic &
    font-size: $play-field-imagery-mosaic-answer-font-size

  .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-10 &
    font-size: $play-field-imagery-mosaic-answer-max-value-10-font-size

  .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-20 &
    font-size: $play-field-imagery-mosaic-answer-max-value-20-font-size

  .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-30 &
    font-size: $play-field-imagery-mosaic-answer-max-value-30-font-size

  .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-40 &
    font-size: $play-field-imagery-mosaic-answer-max-value-40-font-size

  .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-50 &
    font-size: $play-field-imagery-mosaic-answer-max-value-50-font-size

  @media screen and (max-width: $play-field-media-screen-width), screen and (max-height: $play-field-media-screen-height)
    .play-field-imagery-mosaic &
      font-size: 0.5 * $play-field-imagery-mosaic-answer-font-size

    .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-10 &
      font-size: 0.5 * $play-field-imagery-mosaic-answer-max-value-10-font-size

    .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-20 &
      font-size: 0.5 * $play-field-imagery-mosaic-answer-max-value-20-font-size

    .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-30 &
      font-size: 0.5 * $play-field-imagery-mosaic-answer-max-value-30-font-size

    .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-40 &
      font-size: 0.5 * $play-field-imagery-mosaic-answer-max-value-40-font-size

    .play-field-imagery-mosaic.play-field-imagery-mosaic-max-value-50 &
      font-size: 0.5 * $play-field-imagery-mosaic-answer-max-value-50-font-size
